@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background: #422d5d;
  margin: 0;
}
h1,h2,h3,h4,a,p,li {
  color: #decff1;
  font-family: 'VT323', monospace;
  font-weight: normal;
}